<div class="container">
  <h1 class="pt-5">View Product</h1>

  <mat-spinner *ngIf='!currentProduct'></mat-spinner>
  <div class='card-group my-4 bg-light' *ngIf='currentProduct'>
    <mat-card class='col-sm-12 col-md-4'>
      <img mat-card-image *ngIf="currentProduct.img && currentProduct.img.length>0"
        src="/assets/{{currentProduct.img[0]}}" class="p-2">
    </mat-card>
    <mat-card class='col-sm-12 col-md-8'>
      <fieldset class='p-3'>
        <legend class="text-center">
          <h3>Product Descriptions</h3>
        </legend>
        <p *ngIf="currentProduct">
          {{currentProduct.name}}
        </p>
        <p *ngIf="currentProduct">
          Price: {{currentProduct.price}}
        </p>
        <div class='py-2'>
          <mat-form-field>
            <mat-label>Quantity: </mat-label>
            <input matInput type='number' min=5 max=90000 step=5 [(ngModel)]="qtyInput" />
          </mat-form-field>
        </div>
      </fieldset>
      <div class="px-3">
        <button mat-flat-button color="primary" (click)='addToCart()'>Add to cart</button>
        <mat-error>{{rslt}}</mat-error>
      </div>
    </mat-card>
  </div>
</div>