<section class="container">
  <h2 class="py-5">Track Order</h2>
  <form>
    <mat-form-field>
      <mat-label>Order No.</mat-label>
      <div class="input-group">
        <input type="text" class="form-control" #orderNo required />
        <div class="input-group-append">
          <button
            class="btn btn-primary fa fa-search"
            type="button"
            (click)="ShowOrderStatus(orderNo.value)"
          ></button>
        </div>
      </div>
    </mat-form-field>
    <!-- <button mat-raised-button color="primary" (click)="ShowOrderStatus(orderNo.value)">
      Check
    </button> -->
  </form>
  <div class="p-3">
    <table>
      <tr>
        <th>table col</th>
      </tr>
      <tr>
        <td>table cell</td>
      </tr>
    </table>
  </div>
</section>
