<section class="container">
  <h2 class="py-5">Track Order</h2>
  <form>
    <div>
      <mat-label>Order No.</mat-label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Order No." #orderNo required />
        <div class="input-group-append">
          <button class="btn btn-primary fa fa-search" type="button" (click)="ShowOrderStatus(orderNo.value)"></button>
        </div>
      </div>
    </div>
  </form>
  <div class="p-3">
    <table>
      <tr>
        <th>table col</th>
      </tr>
      <tr>
        <td>table cell</td>
      </tr>
    </table>
  </div>
</section>