/* You can add global styles to this file, and also import other style files */

@import url("bootstrap.min.css");

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-25 {
  width: 25px;
  height: auto;
}

.icon-32 {
  width: 32px;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: bold;
}

* {
  border: 1 dashed black;
}
