<section class="mt-5">
  <h2>Stats</h2>
  <div class="mt-4">
    <mat-error *ngIf="lunchStatsErr">{{lunchStatsErr}}</mat-error>
    <div *ngIf="!lunchStatsErr" class="card-group">
      <mat-card *ngFor="let item of lunchStats" class="col-sm-12 col-md-4">
        <mat-card-title color="primary">
          <h4>{{item.name}}</h4>
        </mat-card-title>
        <mat-card-content>
          <div><b>Attendance:</b> {{item.attendance}} times</div>
          <!-- <div>Payment(S$): {{item.payment.toFixed(2)}}</div> -->
          <!-- <div>
            Payment(per attendance): {{(item.payment/item.attendance).toFixed(2)}}
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
