<mat-toolbar color="primary">
  <span>
    <a routerLink="/gifts">
      <button mat-button class="text-white font-weight-bold">GIFTS</button>
    </a>
  </span>
  <span class="ml-auto d-none d-lg-block d-xl-block">
    <a routerLink="/gifts/browse">
      <button mat-button class="text-white font-weight-bold">HotSales</button>
    </a>
    <a routerLink="/gifts/browse">
      <button mat-button class="text-white font-weight-bold">Products</button>
    </a>
    <a routerLink="/gifts/cart">
      <button *ngIf="cartItemCount<=0" mat-button class="text-white font-weight-bold"><i
          calss="fa fa-shopping-cart"></i></button>
      <button *ngIf="cartItemCount>0" mat-button class="text-white font-weight-bold" matBadge="{{cartItemCount}}"
        matBadgeColor="accent"><i calss="fa fa-shopping-cart"></i></button>
    </a>
    <a routerLink="/gifts/trackOrder">
      <button mat-button class="text-white font-weight-bold">Order</button>
    </a>
    <a routerLink="/gifts/auth/register">
      <button mat-button class="text-white font-weight-bold">Support</button>
    </a>
    <a *ngIf="!bLoginStatus" routerLink="/gifts/auth/login">
      <button mat-button class="text-white font-weight-bold"><i class="fa fa-sign-in"></i></button>
    </a>
    <a *ngIf="bLoginStatus">
      <button mat-button (click)="logout()" class="text-white font-weight-bold">Logout</button>
    </a>
  </span>
  <span class="ml-auto d-lg-none d-xl-none">
    <button mat-icon-button [matMenuTriggerFor]="giftsNav">
      <i class="fa fa-align-justify"></i>
    </button>
    <mat-menu #giftsNav="matMenu">
      <a mat-menu-item routerLink="/gifts/browse">HotSales</a>
      <a mat-menu-item routerLink="/gifts/browse">Products</a>
      <a mat-menu-item routerLink="/gifts/cart" matTooltip="Cart"><i calss="fa fa-shopping-cart"></i></a>
      <a mat-menu-item routerLink="/gifts/trackOrder">Order</a>
      <a mat-menu-item routerLink="/gifts/auth/register">Support</a>
      <a mat-menu-item routerLink="/gifts/auth/login" matTooltip="Sign in"><i class="fa fa-sign-in"></i></a>
    </mat-menu>
  </span>
</mat-toolbar>