<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <button mat-button class="text-white">GIFTS</button>
    </a>
  </span>
  <span class="ml-auto">
    <a routerLink="/gifts/browse">
      <button mat-button class="text-white">HotSales</button>
    </a>
    <a routerLink="/gifts/browse" matTooltip="Browse Products">
      <button mat-button class="text-white">Products</button>
    </a>
    <a routerLink="/gifts/cart" matTooltip="View Cart">
      <button *ngIf="cartItemCount<=0" mat-button class="text-white">Cart</button>
      <button *ngIf="cartItemCount>0" mat-button class="text-white" matBadge="{{cartItemCount}}"
        matBadgeColor="accent">Cart</button>
    </a>
    <a routerLink="/gifts/trackOrder" matTooltip="Track Order">
      <button mat-button class="text-white">Order</button>
    </a>
    <a routerLink="/gifts/auth/register" matTooltip="Contact us">
      <button mat-button class="text-white">Support</button>
    </a>
    <a *ngIf="!bLoginStatus" routerLink="/gifts/auth/login">
      <button mat-button class="text-white">Login</button>
    </a>
    <a *ngIf="bLoginStatus">
      <button mat-button (click)="logout()" class="text-white">Logout</button>
    </a>
  </span>
</mat-toolbar>