<section class="mt-5">
  <h3>Datetime: {{ today }}</h3>
  <section class="card-group mt-4">
    <mat-card class="col-6">
      <mat-card-title>Lunch Pals</mat-card-title>
      <mat-card-content>
        <mat-checkbox *ngFor="let pal of lunchPals; let i = index" class="mr-3" [(ngModel)]="palAttendCheckbox[i]">
          {{ pal.name }}
        </mat-checkbox>
        <mat-error *ngIf="lunchPalsErr">{{lunchPalsErr}}</mat-error>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-6">
      <mat-card-title>Coffee Payer</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Payer</mat-label>
          <mat-select #payerSelect>
            <mat-option *ngFor="let pal of lunchPals; let ind = index" value="{{ ind }}">{{ pal.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button matSuffix color="primary" (click)="addRecord(payerSelect.value)" [disabled]="bAddingRecord">
            confirm
          </button>
      <mat-error *ngIf="addRecordErr">{{ addRecordErr }}</mat-error>
    </mat-card-content>
  </mat-card>
  </section>
</section>
