<div class="container">
  <h2>New Product</h2>

  <form>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="price" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Qty</mat-label>
      <input matInput type="text" formControlName="qty" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput type="text" formControlName="category" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Img</mat-label>
      <input matInput type="text" formControlName="img" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Note</mat-label>
      <input matInput type="text" formControlName="note" required />
    </mat-form-field>

    <div>
      <button mat-button color="primary" type="submit"></button>
    </div>
  </form>

</div>