<div class="container">
  <h2 class="py-5">New Product</h2>
  <form [formGroup]="productForm" class="row">
    <mat-form-field class="col-4">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="price" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Qty</mat-label>
      <input matInput type="text" formControlName="qty" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Category</mat-label>
      <input matInput type="text" formControlName="category" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Img</mat-label>
      <input matInput type="text" formControlName="img" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Note</mat-label>
      <input matInput type="text" formControlName="note" />
    </mat-form-field>

    <span class="col-12 text-center pt-4">{{ result }}</span>
    <div class="col-12 text-center pt-3">
      <button mat-flat-button color="primary" (click)="submit()">Submit</button>
      <button mat-raised-button color="primary" (click)="cancel()" class="ml-3">
        Cancel
      </button>
    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" (click)="delete()" class="ml-3">
      Delete
    </button>
  </form>
</div>
