<!-- <button mat-icon-button (click)="goBack()" matTooltip="Go back" class="px-3">
  <fa-icon icon="chevron-left"></fa-icon>
</button> -->

<app-go-back-button></app-go-back-button>

<div class="container">
  <h2 class="py-5">New Product</h2>
  <form [formGroup]="productForm" class="row">
    <mat-form-field class="col-4">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="price" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Qty</mat-label>
      <input matInput type="text" formControlName="qty" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Category</mat-label>
      <input matInput type="text" formControlName="category" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Img</mat-label>
      <input matInput type="text" formControlName="img" required />
    </mat-form-field>
    <mat-form-field class="col-4">
      <mat-label>Note</mat-label>
      <input matInput type="text" formControlName="note" />
    </mat-form-field>

    <span class="col-12 text-center pt-4">{{ result }}</span>
    <div class="col-12 text-center pt-3">
      <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </div>
    <mat-divider></mat-divider>
    <div class="w-100 text-right">
      <button mat-flat-button color="warn" (click)="delete()" class="">Delete</button>
    </div>
  </form>
</div>
