<mat-toolbar color="primary" class="shadow">
  <span>
    <button mat-icon-button matTooltip="sidebar">
      <fa-icon icon="align-justify"></fa-icon>
    </button>
  </span>
  <span class="mr-auto">Staffs</span>
  <span class="text-white">
    <button mat-button routerLink="/staffs/products">
      Products
    </button>
    <button mat-button routerLink="/staffs/inventory">
      Inventory
    </button>
    <button mat-icon-button (click)="logout()" matTooltip="User Info">
      <fa-icon icon="info"></fa-icon>
    </button>
    <button *ngIf="!bLogin" mat-icon-button routerLink="/staffs/auth" matTooltip="Sign in">
      <fa-icon icon="sign-in-alt"></fa-icon>
    </button>
    <button *ngIf="bLogin" mat-icon-button (click)="logout()" matTooltip="Sign out">
      <fa-icon icon="sign-out-alt"></fa-icon>
    </button>
  </span>
</mat-toolbar>