<mat-toolbar color="primary" class="shadow">
  <span>
    <button mat-button matTooltip="sidebar">
      <i class="fa fa-align-justify"></i>
    </button>
  </span>
  <span class="mr-auto">Tiptop Staffs</span>
  <span class="text-white">
    <button mat-button routerLink="/staffs/inventory">
      Inventory
    </button>
    <button mat-button (click)="signOut()" matTooltip="User Info">
      <i class="fa fa-info"></i>
    </button>
    <button mat-button routerLink="/staffs/auth/login" matTooltip="Sign in">
      <i class="fa fa-sign-in"></i>
    </button>
    <button mat-button (click)="signOut()" matTooltip="Sign out">
      <i class="fa fa-sign-out"></i>
    </button>
  </span>
</mat-toolbar>