<div class="d-flex">
  <mat-card class="container col-sm-12 col-md-8 col-lg-6 my-5 py-3">
    <mat-card-title class="text-center">
      <h2>Register</h2>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm" clss="row no-gutters">
        <mat-form-field appearance="outline" class="col-sm-12 col-md-6">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && fg.firstName.errors }"
            required
          />
          <mat-error *ngIf="submitted && fg['firstName'].errors">
            First Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-12 col-md-6">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && fg.lastName.errors }"
            required
          />
          <mat-error *ngIf="submitted && fg['lastName'].errors">
            Last Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="uid"
            [ngClass]="{ 'is-invalid': submitted && fg.uid.errors }"
            required
          />
          <mat-error *ngIf="submitted && fg['uid'].errors">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" required />
          <mat-error *ngIf="submitted && fg['email'].errors.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="submitted && fg['email'].errors.email">
            Email is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="pwd"
            [ngClass]="{ 'is-invalid': submitted && fg.pwd.errors }"
            required
          />
          <mat-error *ngIf="submitted && fg['pwd'].errors">
            <div *ngIf="fg['pwd'].errors.required">Password is required</div>
            <div *ngIf="fg['pwd'].errors.minlength">
              Password must be at least 6 characters
            </div>
          </mat-error>
        </mat-form-field>
        <div>
          <mat-error>{{ errMsg }}</mat-error>
          <button
            mat-raised-button
            (click)="onSubmit()"
            color="primary"
            [disabled]="loading"
          >
            Register
          </button>
          <img
            *ngIf="loading"
            class="pl-3"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <button mat-button routerLink="/gifts">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
