<div class="container">
  <h2 class="pt-5 pb-4">View Cart</h2>

  <div *ngIf="!cart.cartItems.length" class="my-5">
    <h4>The cart is empty; enjoy shopping.</h4>
  </div>
  <div *ngIf="cart.cartItems.length">
    <mat-list>
      <mat-list-item *ngFor="let productItem of cart.cartItems; let i=index" class="bg-white border">
        <img matListAvatar src="/assets/{{productItem.product.img[0]}}">
        <div matLine>
          <span class="mx-4">Name: {{productItem.product.name}}</span>
          <span class="mr-4">Price: {{productItem.product.price}} S$</span>
          <span class="mr-4">Qty: {{productItem.qty}}</span>
          <span class="ml-auto">Subtotal: {{productItem.qty * productItem.product.price}} S$</span>
        </div>
        <div matLine class="text-right">
          <button mat-stroked-button color="accent" (click)="removeFromCart(productItem.product._id)">Remove</button>
        </div>
      </mat-list-item>
    </mat-list>
    <div class="text-right">
      <button mat-stroked-button color="warn" (click)="clearCart()">Clear Cart</button>
    </div>

    <mat-card class="my-4">
      <mat-card-content>
        <h2>Total:</h2> {{cart.total}} S$
        <mat-hint class="ml-4">Inclusive of 7% GST</mat-hint>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/gifts/cart/checkout">
          Checkout
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>