[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = SG
ST = Singaore
L = Singaore
O = InSG
OU = InSG
emailAddress = yc@insg.xyz
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
