<mat-divider></mat-divider>
<footer class="container-fluid row py-5">
  <section class="col-sm-12 col-md-8">
    <div class="d-flex justify-content-start">
      <!-- <section class="mr-4">
        <fa-icon icon="anchor"></fa-icon> Corporate Gifts
        <ul class="list-unstyled">
          <li><a routerLink="/gifts">Gifts Home</a></li>
          <li><a routerLink="/gifts/browse">Products</a></li>
          <li><a routerLink="/gifts/cart">Cart</a></li>
          <li><a routerLink="/gifts/trackOrder">Track Order</a></li>
          <li><a routerLink="/staffs">Staffs</a></li>
        </ul>
      </section>
      <section class="mr-4">
        <fa-icon icon="anchor"></fa-icon> Web Design
        <ul class="list-unstyled">
          <li><a routerLink="/webdev">Home</a></li>
          <li><a routerLink="/webdev/contact">Contacts</a></li>
          <li><a routerLink="/http">Send Http Request</a></li>
        </ul>
      </section> -->
      <section class="col-sm-12 mr-4">
        <fa-icon icon="anchor"></fa-icon> Others
        <ul class="list-unstyled">
          <li><a routerLink="/bus">Bus-Arrival</a></li>
          <li><a routerLink="/dict">Dictionary</a></li>
          <li><a href="https://mail.insg.xyz">Email</a></li>
          <!-- <li><a routerLink="/lunch">Lunchfun</a></li> -->
        </ul>
      </section>
    </div>
  </section>
  <section class="col-sm-12 col-md-4 text-center">
    <div>We <fa-icon icon="heart" class="text-danger"></fa-icon> InSG</div>
    <!-- <ul class="list-inline">
      <a routerLink="/" class="list-inline-item" matTooltip="whatsapp">
        <span class="sr-only" aria-label="whatsapp"></span>
        <i class="fa fa-fw fa-whatsapp"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="wechat">
        <i class="fa fa-fw fa-weixin"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="facebook">
        <i class="fa fa-fw fa-facebook-official"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="twitter">
        <i class="fa fa-fw fa-twitter"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="linkedin">
        <i class="fa fa-fw fa-linkedin"></i>
      </a>
    </ul> -->
    <div class="small">Copyright &copy; 2019. All rights reserved.</div>
    <div>
      <img
        src="/assets/sg_round_icon.png"
        alt="Singapore flag"
        class="icon-25"
      />
      Singapore
    </div>
  </section>
</footer>
