<mat-divider></mat-divider>
<footer class="container-fluid row py-5">
  <section class="col-sm-12 col-md-8">
    <div class="d-flex justify-content-start">
      <section class="mr-4">
        <i class="fa fa-fw fa-anchor"></i> Corporate Gifts
        <ul class="list-unstyled">
          <li><a routerLink="/gifts">Gifts Home</a></li>
          <li><a routerLink="/gifts/browse">Products</a></li>
          <li><a routerLink="/gifts/cart">Cart</a></li>
          <li><a routerLink="/gifts/trackOrder">Track Order</a></li>
          <li><a routerLink="/staffs">Staffs</a></li>
        </ul>
      </section>
      <section class="mr-4">
        <i class="fa fa-fw fa-anchor"></i> Web Design
        <ul class="list-unstyled">
          <li><a routerLink="/webdev">Home</a></li>
          <li><a routerLink="/webdev/contact">Contacts</a></li>
          <li><a routerLink="/http">Send Http Request</a></li>
        </ul>
      </section>
      <section class="mr-4">
        <i class="fa fa-fw fa-anchor"></i> Others
        <ul class="list-unstyled">
          <li><a routerLink="/dict">Dictionary</a></li>
          <li><a routerLink="/busArrival">Bus Arrival</a></li>
          <li><a routerLink="/lunch">Lunchfun</a></li>
        </ul>
      </section>
      <section>
        <i class="fa fa-fw fa-anchor"></i> Development
        <ul class="list-unstyled">
          <li><a href="" target="_blank" class="text-muted">Angular</a></li>
          <li>
            <a href="https://mongodb.org" target="_blank" class="text-muted"
              >Mongodb</a
            >
          </li>
          <li>
            <a href="https://nodejs.org" target="_blank" class="text-muted"
              >Node.js</a
            >
          </li>
        </ul>
      </section>
    </div>
  </section>
  <section class="col-sm-12 col-md-4 text-center">
    <p>
      <img
        src="/assets/sg_round_icon.png"
        alt="Singapore flag"
        class="icon-25"
      />
      Singapore
    </p>
    <ul class="list-inline">
      <a routerLink="/" class="list-inline-item" matTooltip="whatsapp">
        <span class="sr-only" aria-label="whatsapp"></span>
        <i class="fa fa-fw fa-whatsapp"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="wechat">
        <i class="fa fa-fw fa-weixin"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="facebook">
        <i class="fa fa-fw fa-facebook-official"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="twitter">
        <i class="fa fa-fw fa-twitter"></i>
      </a>
      <a routerLink="/" class="list-inline-item" matTooltip="linkedin">
        <i class="fa fa-fw fa-linkedin"></i>
      </a>
    </ul>
    <div class="small">Copyright &copy; 2019. All rights reserved.</div>
  </section>
</footer>
