<div class="container py-4">
  <div class="text-center">
    <h1>Bus Arrival Time</h1>
    <h6>Get bus arrival time by bus stop code.</h6>
  </div>
  <form class="pt-4 text-center" (ngSubmit)="submit(busStopCode.value)">
    <mat-form-field>
      <mat-label>Bus Stop Code</mat-label>
      <input matInput #busStopCode type="text" />
    </mat-form-field>
    <button mat-flat-button class="ml-3" color="primary" type="submit">
      Get
    </button>
  </form>

  <div *ngIf="busStopBookmark.length" class="pt-3 text-center">
    <h3>Bus Stop Bookmark</h3>
    <mat-action-list *ngFor="let busStop of busStopBookmark" dense>
      <div mat-list-item>
        <a [routerLink]="['/bus-arrival', busStop.BusStopCode]">
          ({{ busStop.BusStopCode }}) {{ busStop.Description }}
        </a>

        <button matTooltip="delete" (click)="deleteBusStopBookmark(busStop)">x</button>
      </div>
    </mat-action-list>
  </div>

  <div class="text-center pt-3">
    <button mat-flat-button color="primary" (click)="toggleNearbyBusStops()">
      Toggle Nearby Bus Stops
    </button>
    <mat-spinner *ngIf="spinnerNearbyBusStops" class="ml-auto mr-auto mt-3"></mat-spinner>
    <div *ngIf="nearbyBusStops.length">
      <mat-action-list *ngFor="let nearby of nearbyBusStops" dense>
        <div mat-list-item>
          <button [routerLink]="['/bus-arrival', nearby.busStop.BusStopCode]">
            ({{ nearby.busStop.BusStopCode }}) {{ nearby.busStop.Description }}
          </button>
        </div>
      </mat-action-list>
    </div>
  </div>

  <div class="mt-4 small text-center">
    Powered by <a href="https://data.gov.sg" target="_blank">Data.gov.sg</a>
  </div>
</div>