<section class="container-fluid mt-5">
  <h2><fa-icon icon="leaf"></fa-icon> Products Categories</h2>
  <mat-spinner *ngIf="loading" class="m-4">Loading...</mat-spinner>
  <section class="container">
    <div *ngFor="let samplesOfCategory of samplesOfCategories" class="pt-4">
      <div class="d-flex justify-content-between">
        <span>
          <h3>{{ getCategoryName(samplesOfCategory) }}</h3>
        </span>
        <span class="float-right">
          <a
            <!--
            [routerLink]="['/gifts/browse', samplesOfCategory._id.category]"
            --
          >
            (click)="browseCategory(samplesOfCategory._id.category)" > view more
          </a>
        </span>
      </div>
      <div class="card-group">
        <mat-card
          *ngFor="let sample of samplesOfCategory.products"
          class="p-3 col-sm-6 col-md-4 col-lg-3"
        >
          <mat-card-content class="p-1">
            <a (click)="browseCategory(samplesOfCategory._id.category)">
              <img
                *ngIf="sample.img && sample.img.length > 0"
                mat-card-image
                src="/assets/{{ sample.img[0] }}"
              />
            </a>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-divider class="mt-4"></mat-divider>
    </div>
  </section>
</section>
