<section class="container py-4">
  <mat-card>
    <mat-card-title class="my-4">
      <h2>Oxford Dictionary</h2>
    </mat-card-title>
    <mat-card-content>
      <div class="mb-4">
        <mat-form-field>
          <input matInput placeholder="Word to check" #oxfordInput type="text"
            (keyup.enter)="getOxfordDefinition(oxfordInput.value)" />
          <i matSuffix class="fa fa-search" (click)="getOxfordDefinition(oxfordInput.value)"></i>
        </mat-form-field>
        <!-- <button mat-raised-button color="primary" (click)="getOxfordDefinition(oxfordInput.value)">
          <i class="fa fa-search"></i>
        </button> -->
      </div>
      <div *ngIf="bChecking">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!bChecking">
        <div *ngIf="definitionArray?.length>0">
          <p>Definitions</p>
          <ol>
            <li *ngFor="let item of definitionArray; let i = index">
              {{item}}
            </li>
          </ol>
        </div>
        <mat-error *ngIf="errMsg">{{errMsg}}</mat-error>
      </div>
    </mat-card-content>
  </mat-card>
</section>
