<div class="bg-light">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top shadow">
    <h1 class='navbar-brand mr-auto' style='font-family:Tangerine'>Web Design</h1>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink='/webdev' class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink='/webdev/contact' class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <img src='/assets/sg_lion_head.png' alt="singapore lion head" class='navbar-text icon-32' />
      </li>
    </ul>
  </nav>

  <main class="my-3">
    <section class='bg-img d-flex justify-content-center align-items-center' style="height:75vh">
      <h1 class="h1 text-white">Web Design at Attractive Price</h1>
    </section>

    <section id='about' class='container-fluid pt-5'>
      <h2 class='text-center pb-3'>
        <i class='fa fa-fw fa-diamond'></i>
        About
      </h2>
      <p>Dedicated in responsive web design, CSM web design and ecommerce website development.</p>
      <div>Capable of Search Engine Optimization (SEO)</div>
      <div>Deciding to hire an SEO is a big decision that can potentially improve your site and save time. Providing
        useful services
        for website owners, such as:
        <ul>
          <li>Review of your site content or structure</li>
          <li>Technical advice on website development: for example, hosting, redirects, error pages, use of JavaScript</li>
          <li>Content development</li>
          <li>Management of online business development campaigns</li>
          <li>Keyword research</li>
          <li>SEO training</li>
        </ul>
      </div>
    </section>

    <div class='pt-5 container-fluid row justify-content-between bg-white'>
      <article class='col-3'>
        <h3 class='pb-3'>
          <i class='fa fa-fw fa-mobile'></i>
          Responsive
        </h3>
        <p class="">Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be
          viewed in response
          to the size of the screen or web browser one is viewing with. In addition it is important to understand that
          Responsive
          Web Design tasks include offering the same support to a variety of devices for a single website. Recent work
          also
          considers the viewer proximity as part of the viewing context as an extension for RWD. As mentioned by the
          Nielsen
          Norman Group: content, design and performance are necessary across all devices to ensure usability and
          satisfaction
        </p>
      </article>
      <article class='col-2'>
        <h3 class='pb-3'>
          <i class='fa fa-fw fa-user'></i>
          CRM
        </h3>
        <p class="">Customer relationship management (CRM) is an approach to managing a company's interaction with
          current and potential
          customers. It uses data analysis about customers' history with a company and to improve business
          relationships
          with customers, specifically focusing on customer retention and ultimately driving sales growth.
        </p>
      </article>
      <article class='col-4'>
        <h3 class='pb-3'>
          <i class='fa fa-fw fa-desktop'></i>
          e-commerce
        </h3>
        <section class="">E-commerce businesses may employ some or all of the following:
          <ul>
            <li>Online shopping web sites for retail sales direct to consumers</li>
            <li>Providing or participating in online marketplaces, which process third-party business-to-consumer or
              consumer-to-consumer
              sales
            </li>
            <li>Business-to-business buying and selling</li>
            <li>Gathering and using demographic data through web contacts and social media</li>
            <li>Business-to-business (B2B) electronic data interchange</li>
            <li>Marketing to prospective and established customers by e-mail or fax (for example, with newsletters)</li>
            <li>Engaging in pretail for launching new products and services</li>
            <li>Online financial exchanges for currency exchanges or trading purposes</li>
          </ul>
        </section>
      </article>
      <section class='col-3 pt-3'>
        <img class="w-100" src='/assets/web-dev/garden_by_the_bay.jpg' alt='Garden by the Bay'>
        <img class="w-100" src='/assets/web-dev/marina_bay_sands.jpg' alt='Marina Bay Sands'>
      </section>
    </div>
  </main>

  <!-- <web-dev-contact></web-dev-contact> -->
  <!-- <hr> -->
  <!-- <footer-root></footer-root> -->
</div>
