<section class="pt-5">
  <div class="py-3 text-center bg-info">
    <h1>
      <fa-icon icon="id-card-alt"></fa-icon>
      Contact
    </h1>
  </div>
  <div class="p-2 h5">
    <p><fa-icon icon="id-card-alt"></fa-icon> : Yuan Chao (YC)</p>
    <p><fa-icon icion="envelope"></fa-icon> : yc@insg.xyz</p>
    <p><fa-icon icon="weixin"></fa-icon> WeChat : yxlych</p>
    <p><fa-icon icon="whatsapp"></fa-icon> WhatsApp : +65-87326155</p>
  </div>
</section>

<section class="pt-4 bg-light card shadow mx-3 px-3">
  <h2 class="text-center py-3">
    <fa-icon icon="envelope-open"></fa-icon>
    Leave a Message
  </h2>
  <div class="form-row">
    <div class="input-group col-3">
      <label class="sr-only" for="msg-name">Name:</label>
      <input id="msg-name" class="form-control" placeholder="Name" required />
    </div>
    <div class="input-group col-3">
      <label class="sr-only" for="msg-email">Email:</label>
      <input id="msg-email" class="form-control" placeholder="Email" required />
    </div>
    <div class="input-group col-3">
      <label class="sr-only" for="msg-mobile">Mobile:</label>
      <input
        id="msg-mobile"
        class="form-control"
        placeholder="Mobile"
        required
      />
    </div>
    <div class="input-group col-3">
      <label class="sr-only" for="msg-company">Company:</label>
      <input id="msg-company" class="form-control" placeholder="Company" />
    </div>
  </div>
  <div class="input-group">
    <label class="sr-only" for="msg-message">Message:</label>
    <textarea
      id="msg-message"
      class="form-control"
      placeholder="required"
      style="resize:none"
      required
    ></textarea>
  </div>
  <div class="container-fluid small">* required.</div>
  <div class="text-center p-3">
    <b id="msg-rslt" class="d-none"></b>
    <button class="btn btn-primary" id="msg-btn">Send Message</button>
  </div>
</section>
