<form [formGroup]="sendMessageFormGroup" class="container">
  <mat-form-field appearance="outline" class="col-sm-12 col-md-6">
    <mat-label>Name</mat-label>
    <input matInput formControlName='name' required />
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-sm-12 col-md-6">
    <mat-label>Mobile</mat-label>
    <input matInput formControlName='mobile' type="tel" required />
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Email</mat-label>
    <input matInput formControlName='email' type="email" required />
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Message</mat-label>
    <textarea matInput formControlName='message' required></textarea>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="sendMessage()">
      <i class="fa fa-paper-plane"></i> Send Message
    </button>
    <mat-error>{{msgRslt}}</mat-error>
  </div>
</form>
