<div class="d-flex my-5">
  <mat-card class="container col-sm-12 col-md-6 col-lg-4">
    <mat-card-title class="text-center">
      <h2>Welcome! Please login.</h2>
    </mat-card-title>
    <mat-card-content class="row no-gutters">
      <mat-form-field class="col-12">
        <mat-label>Username</mat-label>
        <input #uid matInput id="uid" required />
        <span matSuffix><i class="fa fa-user m-2"></i></span>
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>Password</mat-label>
        <input #pwd matInput id="pwd" type="password" required />
        <span matSuffix><i class="fa fa-key m-2"></i></span>
      </mat-form-field>
      <mat-error>{{errMsg}}</mat-error>
      <span *ngIf="!bStaffLogin" class="small"><a>New memober Register</a></span>
      <button mat-raised-button color="primary" (click)='login(uid.value, pwd.value)'>Login</button>
    </mat-card-content>
    <!-- <mat-card-footer class="text-center">&copy; 2019</mat-card-footer> -->
  </mat-card>
</div>