<go-back-button></go-back-button>

<div class="d-flex py-lg-5 justify-content-center">
  <mat-card class="col-sm-12 col-md-6 col-lg-4">
    <mat-card-title class="text-center">
      <h2>Welcome!</h2>
    </mat-card-title>
    <mat-card-content class="container pt-4">
      <mat-form-field class="col-12">
        <mat-label>Username</mat-label>
        <input #uid matInput id="uid" required />
        <span matSuffix>
          <fa-icon icon="user"></fa-icon>
        </span>
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>Password</mat-label>
        <input #pwd matInput id="pwd" type="password" required />
        <span matSuffix>
          <fa-icon icon="key"></fa-icon>
        </span>
      </mat-form-field>
      <mat-error class="text-center">{{ errMsg }}</mat-error>
      <div class="text-center py-3">
        <button mat-flat-button color="primary" (click)="login(uid.value, pwd.value)">
          Login
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="text-right pt-3">
        <a color="primary" routerLink="./register">Register</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>