<section class="container">
  <h2 class="my-4">Inventory</h2>

  <div class="row my-4">
    <mat-card *ngFor="let product of products" class="col-6">
      <div>Name: {{product.name}}</div>
      <div>current quantity: {{getQuantity(product._id)}}</div>
      <div>
        <mat-form-field>
          <mat-label>New Quantity</mat-label>
          <input #newQty matInput type="number">
        </mat-form-field>
        <button mat-button (click)="updateInventory(product._id, newQty.value)">Update</button>
      </div>
    </mat-card>
  </div>
</section>
