<section class="mt-5">
  <h2>Lunch Records</h2>
  <div class="mt-4">
    <mat-error *ngIf="lunchRecordErr">{{lunchRecordErr}}</mat-error>
    <div *ngIf="!lunchRecordErr" class="card-group">
      <mat-card *ngFor="let record of lunchRecords; trackBy: trackById" class="col-sm-12 col-md-4 mb-3">
        <mat-card-title>{{ getLocalDate(record) }}</mat-card-title>
        <mat-card-content>
          <div><b>Attendees:</b> {{ record.attendees }}</div>
          <div><b>Payer:</b> {{ record.payer }}</div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="deleteRecord(record)">
            <i class="fa fa-trash"></i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
