<mat-nav-list dense>
    <a mat-list-item routerLink='/gifts'>gifts</a>
    <a mat-list-item routerLink='/staffs'>staffs</a>
    <a mat-list-item routerLink='/staffs/inventory'>Inventory</a>
    <a mat-list-item routerLink='/staffs/auth'>auth</a>
    <a mat-list-item routerLink='/staffs/new-staff'>new-staff</a>
    <a mat-list-item routerLink='/staffs/products'>products</a>
    <a mat-list-item routerLink='/staffs/products/new'>new products</a>
    <a mat-list-item routerLink='/staffs/orders'>orders</a>
  </mat-nav-list>