<div class="container-fluid mt-5">
  <h2><fa-icon icon="leaf"></fa-icon> Contact Me</h2>
  <section class="card-group text-center mt-4 mx-5">
    <mat-card class="col-sm-12 col-md-4">
      <div class="display-4 p-4">
        <fa-icon icon="envelope"></fa-icon>
      </div>
      <h4 class="pb-2">
        <a href="mailto:ying1985cly@hotmail.com">
          <b>mail@mail.com</b>
        </a>
      </h4>
    </mat-card>
    <mat-card class="col-sm-12 col-md-4">
      <div class="display-4 p-4">
        <fa-icon icon="map-marker"></fa-icon>
      </div>
      <h4 class="pb-2">
        <b>Bendemeer Rd, Singapore</b>
      </h4>
    </mat-card>
    <mat-card class="col-sm-12 col-md-4">
      <div class="display-4 p-4">
        <fa-icon icon="phone"></fa-icon>
      </div>
      <h4 class="pb-2">
        <b>+65 xxxxxxx</b>
      </h4>
    </mat-card>
  </section>
  <h3 class="mt-5 text-center">
    <b>Let's get in touch, send me a message.</b>
  </h3>
  <div class="card-group mt-4">
    <mat-card class="col-sm-12 col-md-6">
      <send-message></send-message>
    </mat-card>

    <mat-card class="col-sm-12 col-md-6">
      <div id="google-map" style="height:100%"></div>
    </mat-card>
  </div>

  <!-- <iframe width="100%" height="450" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC5M4X9MZ2jER--Ak_cUs0O4&key=AIzaSyBWvzbLWJBSk55arqoqrFEqlDilP2BPzBI"
      allowfullscreen>
    </iframe> -->
</div>
